<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row">


        <div class="col-sm-3 col-md-4 col-lg-4 text-light mb-2">
          <h3>Our Contacts</h3>
          <ul>
            <li><span class="fa fa-location-arrow"></span> A108 Adam Street <br>
              New York, NY 535022</li>
            <li><span class="fa fa-envelope"></span> SHIBA TOKEN MINER@gmail.com</li>
            <li><span class="fa fa-phone"></span> +1 (609) 836-0169</li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-4 col-lg-4">
          <h3>Quick Links</h3>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about-us">About Us</a></li>
            <li><a routerLink="/testimony">Testimony</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-4 col-lg-4">
          <h3>Follow Us</h3>
          <ul>
              <li>
                  <a routerLink="/#">
                      Facebook
                  </a>
              </li>
              <li>
                  <a routerLink="/#">
                      Twitter
                  </a>
              </li>
              <li>
                  <a routerLink="/#">
                      Linkedin
                  </a>
              </li>
              <li>
                  <a routerLink="/#">
                      Google PLus
                  </a>
              </li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>Copyright 2019. All rights reserved.</h5>
  </div>
</footer>
