<footer id="footer" class="bg-one">
  <div class="top-footer">
    <div class="container">
      <div class="row">
  

        <div class="col-sm-3 col-md-4 col-lg-4">
          <h3>Our Services</h3>
          <ul>
            <li><a routerLink="/#">Invest Bitcoin</a></li>
            <li><a routerLink="/#">Gain More Bitcoin</a></li>
            <li><a routerLink="/#">Upgrade Bitcoin Miner</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-4 col-lg-4">
          <h3>Quick Links</h3>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/account">Affliate Program</a></li>
            <li><a routerLink="/payout">Payout</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

        <div class="col-sm-3 col-md-4 col-lg-4">
          <h3>Follow Us</h3>
          <ul>
              <li>
                  <a routerLink="/#">
                      Facebook
                  </a>
              </li>
              <li>
                  <a routerLink="/#">
                      Twitter
                  </a>
              </li>
              <li>
                  <a routerLink="/#">
                      Linkedin
                  </a>
              </li>
              <li>
                  <a routerLink="/#">
                      Google PLus
                  </a>
              </li>
          </ul>
        </div>
        <!-- End of .col-sm-3 -->

      </div>
    </div> <!-- end container -->
  </div>
  <div class="footer-bottom">
    <h5>Copyright 2019. All rights reserved.</h5>
  </div>
</footer> 