<app-header></app-header>
<section class="page-wrapper section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Frequently Asked Questions</h2>
          <p>These questions being asked by how other users contact us on.</p>
          <p>SHIBA TOKEN MINER@gmail.com for futher question</p>
        </div>
        <div class="col-md-8">
          <h4>What is SHIBA TOKEN MINER?</h4>
          <p>SHIBA TOKEN MINER is an industry leading Shib Token mining pool. All of the mining power is backed up by physical miners. 
            Mining with the latest algorithms allows to make as much Shib Token as possible. 
            We aim to provide you with the easiest possible way to make money without having to do any of the hard stuff.
            </p>
            <h4>How do I start?</h4>
          <p><a routerLink="/sign-up">Sign up</a> providing your wallet address and start generating Shib Token.</p>
          <h4> don't have a Shib Token wallet. How can I create one?</h4>
          <p>You can create Shib Token wallet using online services like <a target="_blank" href="https://blockchain.info/wallet/#/signup">Blockchain.info</a>
            or <a target="_blank" href="https://www.luno.com/en/signup">Luno</a>
          </p>
          <h4>How long does it takes to withdraw money?</h4>
          <p>Withdrawal applications are generally processed instantly, in rare cases withdrawals 
            can be processed manually and take longer.</p>
          <h4>If I pay for an upgrade how long is it active?</h4>
          <p>SHIBA TOKEN MINER upgrades have no limits and works as long as our data centers are powered. 
            Our uptime is 99% so upgrade confidently.</p>
            <h4>Can I upgrade SHIBA TOKEN MINER with money on my balance?</h4>
            <p>SHIBA TOKEN MINER currently does not support upgrading from internal 
                SHIBA TOKEN MINER wallet yet. You can only upgrade using external wallets.</p>
              <h4>How much can I earn without investments?</h4>
              <p>You can generate 0.0006 $SHIB every day without investments. You can also <a routerLink="/account/deposit">upgrade</a> your 
                  SHIBA TOKEN MINER to generate up to 0.5 BTC every day.</p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>