<section class="header  navigation">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-expand-md">
                  <a class="navbar-brand" href="index.html">
                      <img src="images/logo.png" alt="" width="150px">
                      Btc Pro
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="tf-ion-android-menu"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item active">
                              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link"routerLink="#">Affilate Program</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" routerLink="#">Payout</a>
                          </li>
                          <li class="nav-item"> 
                              <a class="nav-link" routerLink="#">FAQ</a>
                          </li>
                          <ng-container *ngIf="!userStatus">
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/login">Login</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" routerLink="/sign-up">Sign Up</a>
                              </li>
                          </ng-container>
                          <ng-container *ngIf="userStatus">
                              <li class="nav-item" >
                                  <a class="nav-link" (click)="logout()" >Logout</a>
                              </li>
                              <li class="nav-item user" >
                                  <a class="nav-link" >Hi {{ username}}</a>
                              </li>
                          </ng-container>
                      </ul>
                  </div>
              </nav>
              
          </div>
      </div>
  </div>
</section>
