<app-header></app-header>
<section class="single-page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>About Us</h2>
          <nav aria-label="breadcrumb mx-auto" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
<section class="about section-sm" id="about">
    <div class="container">
      <div class="row mb-50 justify-content-center">
        <div class="col-md-5 col-sm-12 text-center offset-md-1">
          <img src="/assets/images/banner3.jpg" class="img-fluid rounded shadow" alt="">
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="content">
            <h2>Shib Token exchange you<br> can trust</h2>
            <p>The founders of our world-class cryptocurrency company got to know each other by using the 
              same platform for buying and selling Shib Tokens. As our cryptocurrency mining company and its user base grew, 
              new mining farms were built up and several additional people hired, specifically programmers and engineers.
              </p>
          </div>
          
        </div>
      </div> 		<!-- End row -->
      <div class="row mt-50 justify-content-center">
        <div class="col-12 col-md-5 offset-md-1 col-md-5 col-sm-12">
          <div class="content">
            <h2>Legal and Security</h2>
            <p>The current members of our Shib Token mining team come from different scientific disciplines,
               but our common faith in cryptocurrencies has brought us together. 
              We are all strong believers in the future of digital currencies and we love being part of this growing community!
            </p>
          </div>
          
        
        </div>
        <div class="col-12 col-md-5 col-sm-12 text-center">
          <img src="/assets/images/banner4.jpg" class="img-fluid rounded shadow" alt="">
        </div>
      </div> 		<!-- End row -->
    </div>   	<!-- End container -->
  </section>
<app-footer></app-footer>