<app-header></app-header>
<section class="signin-page account">
  <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto">
              <div class="block">
                  <h2 class="text-center">Sign In to DailyCryptomine</h2>
                  
                  <form class="text-left text-danger clearfix mt-50" [formGroup]='form' (ngSubmit)='loginInWithEmail(form)' >
                        <div *ngIf='form.errors && email.valid && password.valid' class="text-danger">
                                {{error}}
                            </div> 
                      <div class="form-group">
                          <input type="email" class="form-control"  placeholder="email" formControlName='email'>
                          <span *ngIf="email.invalid && email.touched">
                            Email is required
                          </span>
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" placeholder="Password" formControlName='password'>
                            <span *ngIf="password.invalid && password.touched">
                                <span *ngIf="password.errors.required">Password is required</span>
                                <span *ngIf="password.errors.minlength">Password must be up to 4 characters</span>
                            </span>
                        </div>
                      <button type="submit" class="btn btn-main" >Sign In</button>
                      
                  </form>
                  <p class="mt-20">New in this site ?<a routerLink="/sign-up"> Create New Account</a></p>
                  <!-- <p><a href="forget-password.html"> Forgot your password?</a></p> -->
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>