
      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li> 
          <li class="breadcrumb-item active">User</li>
        </ol>

        <!-- Icon Cards-->
      </div>
      <!-- /.container-fluid -->
      <div class="container">
          <form #f='ngForm' (ngSubmit)='update(f.value)'  *ngIf="user">
              <div class="form-group row">
               <div class="col-2 mt-2">
                  <label for="balance">Balance</label>
               </div>
               <div class="col-5 pull-left">
                  <input #balance="ngModel" [(ngModel)]="user.balance" name="balance" type="number" class="form-control" id="balance"  >
               </div> 
              </div>

              <div class="form-group row"> 
                  <div class="col-2 mt-2">
                     <label for="speedRate">SpeedRate</label>
                  </div>
                  <div class="col-5 pull-left">
                     <input #speedRate="ngModel" [(ngModel)]="user.speedRate" name="speedRate" type="number" class="form-control" id="speedRate" >
                  </div>
                 </div>
           
        
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
      </div> 
