
    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">User</li>
      </ol>

      <!-- Icon Cards-->
    </div>
    <!-- /.container-fluid -->
    <div class="container">
       <h2>All Withdraw from users</h2>
       <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="withdraws">
              <tr *ngFor="let wid of withdraws| paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{wid.date | date:'medium' }}</td>
                <td>{{wid.amount}}</td>
                <td>{{ wid.email || wid.userId  }}</td>
                <td>
                  <div class="form-group">
                    <select #status="ngModel" class="form-control" [(ngModel)]="wid.status" >
                      <option  *ngFor="let st of statusx" [value]="st.value" >
                        {{st.value}}
                      </option> 
                    </select>
                  </div>
                </td>
                <td>
                  <button class="btn btn-primary" (click)='updateWit(wid, status)'>Save</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

          </div>
    </div>

    </div>