<html>
  <div class="wrapper bg-color-primary" >
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo bg-color-main text-center">
        <a routerLink="/" class="simple-text text-light logo-normal">
         SHIBA TOKEN MINER
        </a>
        <button (click)="logout()" class="btn btn-warning btn-sm">
          <span class="fa fa-sign-out"></span>
          logout
        </button>
      </div>
      <div class="sidebar-wrapper bg-color-main">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/profile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/account/withdraw">
              <i class="material-icons">money</i>
              <p>Withdraw</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/deposit">
              <i class="fa fa-money"></i>
              <p>Deposit</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/trans">
              <i class="material-icons">history</i>
              <p>Transactions</p>
            </a>
          </li>

      
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand ">
              <h4 class="head"><i class="material-icons big-icon">person</i> Welcome, {{userDetails.name}} {{userDetails.lastname}}</h4>
         
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content bg-color-primary">
        <div class="container-fluid">
         
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">Withdaw Shib Token From Balance</h4>
                      <h5>Min: 0.0035 Max: {{ userDetails.balance | number:'.8-8'}}</h5>
                    </div>
                    <div class="card-body">
                      <form [formGroup]='form' (ngSubmit)="withdraw$SHIB(form)">
                        <p class="text-danger" *ngIf="showWithdrawLimit"><b>You have less than 0.0035 $SHIB on your balance.
                            Wait for minimum amount</b>.</p>
                          <p class="text-success" *ngIf="withdrawsuc">Withdraw Successful</p>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">  
                              <label class="bmd-label-floating">Enter Amount</label>
                              <input type="number" class="form-control" formControlName='amount'>
                            </div>
                            <span *ngIf="amount.invalid && amount.touched" class="text-danger">
                                amount is required
                            </span>
                          </div>
                         
                        </div>
                       
                      
                     
                        <button type="submit" class="btn btn-primary pull-right">Withdraw</button>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
                </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary" >
                    <h4 class="card-title ">All Withdraw</h4>
                  </div>
                  <div class="card-body">
                    <h5 *ngIf="withdraws.length < 1">No Withdraw</h5>
                    <div class="table-responsive" *ngIf="withdraws.length > 0">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Date
                          </th>
                          <th>
                            Amount
                          </th>
                          <th>
                            Status
                          </th>
                       
                        </thead>
                        <tbody>
                          <tr *ngFor="let wid of withdraws| paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>
                                {{ wid.date | date}}
                            </td>
                            <td>
                                - {{wid.amount}} $SHIB
                            </td>
                            <td *ngIf="wid.status === 'pending'" class="text-warning">
                             {{ wid.status}}
                            </td>
                            <td *ngIf="wid.status === 'success'" class="text-success">
                              {{ wid.status}}
                             </td>
                             <td *ngIf="wid.status === 'decline'" class="text-danger">
                              {{ wid.status}}
                             </td>
                             <td *ngIf="!wid.status" class="text-dark">
                              {{ wid.status}}
                             </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
      </div>
      <footer class="footer bg-color-main">
          <div class="container-fluid">
            <nav class="float-left">
              <ul class="text-light">
                <li >
                  <a routerLink="/">
                    Home
                  </a>
                </li>
                <li>
                  <a routerLink="/faq">
                    FAQ
                  </a>
                </li>
                <li>
                  <a routerLink="/testimony">
                    Testimony
                  </a>
                </li>
                <li>
                  <a routerLink="/about-us">
                    About Us
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright float-right text-light">
              &copy; 2019 All Right Reserved
  
            </div>
          </div>
        </footer>
    </div>
  </div>

</html>