<html>
  <div class="wrapper bg-color-primary" >
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo bg-color-main text-center">
        <a routerLink="/" class="simple-text text-light logo-normal">
         DailyCryptomine
        </a>
        <button (click)="logout()" class="btn btn-warning btn-sm">
          <span class="fa fa-sign-out"></span>
          logout
        </button>
      </div>
      <div class="sidebar-wrapper bg-color-main">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/profile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/withdraw">
              <i class="material-icons">money</i>
              <p>Withdraw</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/account/deposit">
              <i class="fa fa-bitcoin"></i>
              <p>Deposit</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/account/trans">
              <i class="material-icons">history</i>
              <p>Transactions</p>
            </a>
          </li>


        </ul>
      </div>
    </div>
    <div class="main-panel" >
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand ">
              <h4 class="head"><i class="material-icons big-icon">person</i> Welcome, {{userDetails.name}} {{userDetails.lastname}}</h4>

            </a>
          </div>
          <br>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>

        </div>
      </nav>
      <!-- End Navbar -->
      <div class="mt-5 bg-color-primary">
        <div class="container-fluid">
         <section class="pricing-table  section" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">

                    <h2 id="version" >Choose Your Version.</h2>

                    <p class="text-light">Choose premium version below to increase your affiliate program bonus and earn much more!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 bg-light" >
                            <div class="pricing-item">
                                <h3>VERSION V1.5</h3>
                                <div class="pricing-body">
                                    <div class="price">
                                        <h4 >Buy 0.9 BTC</h4>

                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar"style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Earning rate:</p>
                                    <p><b>0.0002 BTC/min</b></p>
                                    <p><b>0.24 BTC per/day</b></p>
                                    <button type="button" class="btn btn-main"  data-toggle="modal" data-target="#myModal4">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 bg-light" >
                            <div class="pricing-item">
                                <h3>VERSION V1.4</h3>
                                <div class="pricing-body">
                                    <div class="price">
                                       <h4>Buy 0.5 BTC</h4>

                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar"style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Earning rate:</p>
                                    <p><b>0.00007 BTC/min</b></p>
                                    <p><b>0.10 BTC per/day</b></p>
                                    <button type="button" class="btn btn-main"  data-toggle="modal" data-target="#myModal3">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 bg-light" >
                            <div class="pricing-item">
                                <h3>VERSION V1.3</h3>
                                <div class="pricing-body">
                                    <div class="price">
                                        <h4>Buy 0.25 BTC</h4>

                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar"style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Earning rate:</p>
                                    <p><b>0.00003 BTC/min</b></p>
                                    <p><b>0.05 BTC per/day</b></p>
                                    <button type="button" class="btn btn-main"  data-toggle="modal" data-target="#myModal2">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 bg-light" >
                            <div class="pricing-item">
                                <h3>VERSION V1.2</h3>
                                <div class="pricing-body">
                                    <div class="price">
                                        <h4>Buy 0.063 BTC</h4>

                                    </div>
                                    <div class="progress" style="height: 3px;">
                                        <div class="progress-bar"style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>Earning rate:</p>
                                    <p><b>0.00001 BTC/min</b></p>
                                    <p><b>0.015 BTC per/day</b></p>

                                    <button type="button" class="btn btn-main"  data-toggle="modal" data-target="#myModal">Buy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Tik</div>
            </div>

            </div>

        </div>
     <ng-container id="modals" >
            <div id="myModal4" class="modal fade" role="dialog">
                    <div class="modal-dialog">


                      <div class="modal-content">
                        <div class="modal-header" >
                            <h4 class="modal-title">Upgrade Dailycryptomine to Premium</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                          <div class="row text-center">
                              <div class="col-md-8">
                                 <h5>Complete your Deposit</h5>
                                 <p>In order to upgrade Dailycryptomine to v1.5 please send exactly
                                     <b class="text-warning">0.9 BTC</b> to:</p>
                                <h6 class="text-warning">{{walletId}}</h6>
                                    <h5>Waiting For Your Deposit. Status: <b class="text-warning">0 BTC</b> received</h5>
                                    <h6>Your Dailycryptomine will be upgraded automatically after payment is received and confirmed.</h6>
                              </div>
                              <div class="col-md-4">
                                <h6>Scan QR code using your camera</h6>
                                <img src="/assets/images/btccode.PNG" alt="btcwallet">
                                <p class="text-dark">{{walletId}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
            <div id="myModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">


                      <div class="modal-content">
                        <div class="modal-header" >
                            <h4 class="modal-title">Upgrade Dailycryptomine to Premium</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                          <div class="row text-center">
                              <div class="col-md-8">
                                 <h5>Complete your Deposit</h5>
                                 <p>In order to upgrade Dailycryptomine to v1.4 please send exactly
                                     <b class="text-warning">0.5 BTC</b> to:</p>
                                <h6 class="text-warning">{{walletId}}</h6>
                                    <h5>Waiting For Your Deposit. Status: <b class="text-warning">0 BTC</b> received</h5>
                                    <h6>Your Dailycryptomine will be upgraded automatically after payment is received and confirmed.</h6>
                              </div>
                              <div class="col-md-4">
                                <h6>Scan QR code using your camera</h6>
                                <img src="/assets/images/btccode.PNG" alt="btcwallet">
                                <p class="text-dark">{{walletId}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
            <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">


                      <div class="modal-content">
                        <div class="modal-header" >
                            <h4 class="modal-title">Upgrade Dailycryptomine to Premium</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                          <div class="row text-center">
                              <div class="col-md-8">
                                 <h5>Complete your Deposit</h5>
                                 <p>In order to upgrade Dailycryptomine to v1.2 please send exactly
                                     <b class="text-warning">0.063 BTC</b> to:</p>
                                <h6 class="text-warning">{{walletId}}</h6>
                                    <h5>Waiting For Your Deposit. Status: <b class="text-warning">0 BTC</b> received</h5>
                                    <h6>Your Dailycryptomine will be upgraded automatically after payment is received and confirmed.</h6>
                              </div>
                              <div class="col-md-4">
                                <h6>Scan QR code using your camera</h6>
                                <img src="/assets/images/btccode.PNG" alt="btcwallet">
                                <p class="text-dark">{{walletId}}</p>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div id="myModal2" class="modal fade" role="dialog">
                        <div class="modal-dialog">


                          <div class="modal-content">
                            <div class="modal-header" >
                                <h4 class="modal-title">Upgrade Dailycryptomine to Premium</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                              <div class="row text-center">
                                  <div class="col-md-8">
                                     <h5>Complete your Deposit</h5>
                                     <p>In order to upgrade Dailycryptomine to v1.3 please send exactly
                                         <b class="text-warning">0.25 BTC</b> to:</p>
                                    <h6 class="text-warning">{{walletId}}</h6>
                                        <h5>Waiting For Your Deposit. Status: <b class="text-warning">0 BTC</b> received</h5>
                                        <h6>Your Dailycryptomine will be upgraded automatically after payment is received and confirmed.</h6>
                                  </div>
                                  <div class="col-md-4">
                                    <h6>Scan QR code using your camera</h6>
                                    <img src="/assets/images/btccode.PNG" alt="btcwallet">
                                    <p class="text-dark">{{walletId}}</p>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>

                        </div>
                      </div>
     </ng-container>



    </div>
</section>


        </div>
      </div>
      <footer class="footer bg-color-main">
          <div class="container-fluid">
            <nav class="float-left">
              <ul class="text-light">
                <li >
                  <a routerLink="/">
                    Home
                  </a>
                </li>
                <li>
                  <a routerLink="/faq">
                    FAQ
                  </a>
                </li>
                <li>
                  <a routerLink="/testimony">
                    Testimony
                  </a>
                </li>
                <li>
                  <a routerLink="/about-us">
                    About Us
                  </a>
                </li>
              </ul>
            </nav>
            <div class="copyright float-right text-light">
              &copy; 2019 All Right Reserved

            </div>
          </div>
        </footer>
    </div>
  </div>

</html>
