// @import './../../../../assets/user/bootstrap.min.css';
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');
@import './../../../../assets/user/css/material-dashboard.css';
// p {
//     color: black;
// }
.big-icon{
    font-size: 40px;
}
.bg-color-main{
    background-color:#1f2532;
}
.bg-color-primary{
    background-color: #1F1E29
}
.navbar-brand .head{
    text-transform: capitalize;
   font-weight: bold;
}